body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300vh;
    margin: 0;
    background-color: #d8d8d8;
    transition: 0.5s;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Monument Ultrabold';
    text-transform: uppercase;
    color: #000000;
    box-shadow: 0 2px 0 #707070;
    letter-spacing: 3px;
    transition: .6s;
}
h3:hover{letter-spacing: 5px;}
.botao {
    background-color: #40a07d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    opacity: 0.8;
    letter-spacing: 2px;
}
.botao:hover{transform: translateY(2px);opacity: 1;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0);}
.botao:nth-child(2){background-color: #0e408b;}
.botao:nth-child(3){background-color: #8247e5;}
.botao:nth-child(4){background-color: #28a0f0;}
.botao:nth-child(5){background-color: #f02828;}

input[type=text]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    margin: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #04AA6D;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #04AA6D;
cursor: pointer;
}

.content {
    margin-top: 20px;
    display: none;
}

#sendinfos {
    display: none;
}

label {
    display: block;
    margin-top: 10px;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

#cardContainer {
    border: none;
    border-radius: 10px;
    background: rgb(0 ,0 ,0, 0.5);
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 100px;
    max-height: 200px;
    overflow-y: scroll;
    transition: 0.5s;
}
.pviw{
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    transition: 0.5s;
}
p {margin-top: 10px;}
.card {
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.highlight {animation: gradientAnimation 2s linear infinite;}

@keyframes gradientAnimation {
    0% { background-color: yellow; }
    50% { background-color: #FFD700; }
    100% { background-color: yellow; }
}
